PyQt5>=5.15.0
soundfile>=0.12.1
sounddevice>=0.4.6
mutagen>=1.47.0
numpy>=1.24.0
pylast>=5.0.0
comtypes>=1.4.0
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Storage.Streams
winrt-Windows.Media
winrt-Windows.Media.Playback
demucs
